<div class="grid-background"></div>
<div class="native">
  <div class="flex w-full h-full flex-column justify-content-between">
    <div class="align-self-end top-circle mt-4">
      <img
        ngSrc="./assets/purple-circle.png"
        width="302"
        height="302"
        priority
      />
    </div>
    <div class="align-self-end mr-4 mb-6">
      <img
        ngSrc="./assets/purple-circle.png"
        width="220"
        height="220"
        priority
      />
    </div>
  </div>
</div>

<div class="overlay-content flex justify-content-center align-items-center">
  <div class="container">
    <div class="w-auto h-auto mx-2 my-4">
      <h1>Forgot Password</h1>
      <p>No worries! Enter your email to reset your password.</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Email Field -->
        <div class="mt-6">
          <p-floatLabel>
            <input
              pInputText
              id="email"
              class="custom-input w-full"
              type="email"
              formControlName="email"
            />
            <label for="email">Email</label>
          </p-floatLabel>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-content-center my-4">
          <button
            pButton
            pRipple
            type="submit"
            [disabled]="!form.valid"
            iconPos="right"
            label="Send OTP"
            class="custom-purple-button w-full"
          ></button>
        </div>
      </form>

      <div class="card flex justify-content-center gap-3 custom-link">
        <a routerLink="/login" class="custom-link-text"
        >Remember your password? Login</a
        >
      </div>
    </div>
  </div>
</div>
