<div class="grid-background"></div>
<div class="native">
  <div class="flex w-full h-full flex-column justify-content-between">
    <div class="align-self-end top-circle mt-4">
      <img
        ngSrc="./assets/purple-circle.png"
        width="302"
        height="302"
        priority
      />
    </div>
    <div class="align-self-end mr-4 mb-6">
      <img
        ngSrc="./assets/purple-circle.png"
        width="220"
        height="220"
        priority
      />
    </div>
  </div>
</div>

<div class="overlay-content flex justify-content-center align-items-center">
  <div class="container">
    <div class="w-auto h-auto mx-2 my-4">
      <h1>Reset Password</h1>
      <p>Create a new secure password for your account.</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Password Field -->
        <div class="input-field my-4">
          <p-floatLabel>
            <p-password formControlName="password">
              <ng-template pTemplate="header">
                <h6>Pick a password</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                <p-divider />
                <p class="mt-2">Requirements</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                  <li>At least one lowercase</li>
                  <li>At least one uppercase</li>
                  <li>At least one numeric</li>
                  <li>Minimum 8 characters</li>
                </ul>
              </ng-template>
            </p-password>
            <label class="w-full" for="password" id="password">Password</label>
          </p-floatLabel>
        </div>

        <!-- Confirm Password Field -->
        <div class="input-field my-4">
          <p-floatLabel>
            <p-password
              [feedback]="false"
              [toggleMask]="true"
              formControlName="confirmPassword"
            />
            <label>Confirm New Password</label>
          </p-floatLabel>
        </div>

        <!-- OTP Input -->
        <div
          class="card flex justify-content-center flex-column align-items-center my-4 w-full"
        >
          <div class="w-full max-w-20rem">
            <p-inputOtp [length]="6" formControlName="otp" class="w-full" />
            <small class="block text-600 mt-2 text-center">
              Check your email for the 6-digit verification code
            </small>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-content-center my-4">
          <button
            pButton
            pRipple
            type="submit"
            [loading]="loading"
            [disabled]="!form.valid"
            label="Reset Password"
            class="custom-purple-button w-full"
          ></button>
        </div>
      </form>

      <div class="card flex justify-content-center gap-3 custom-link">
        <a routerLink="/login" class="custom-link-text"
          >Remember your password? Login</a
        >
      </div>
    </div>
  </div>
</div>
